<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On 
    RewriteBase /facetious-shareposts/public
    # RewriteBase _YOUR_LOCATION_
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>